* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    opacity: 0;

}

div p:first-child {
    border-bottom: 1px black solid;

    padding-bottom: 10px;
}

div p:nth-child(2) {
    padding-top: 10px;
}

div p:nth-child(3) {
    padding-top: 10px;
    text-align: center;
}

div:nth-child(1) {
    background-color: pink;

}